.white{
    height:100px;
    width:100px;
    background-color:#f0d9b5 ;
  }
  
  .black{
    height:100px;
    width:100px;
    background-color:#b58863;
  }
  
  #container{
    display:grid;
    grid-template-columns:repeat(8,100px) ;
    grid-template-rows:repeat(8,100px) ;
    width:800px;
  }